@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
@font-face {
  font-family: 'IntegralCF';
  src: url('/fonts/IntegralCF-Regular.woff2') format('woff2'),
       url('/fonts/IntegralCF-Regular.woff') format('woff'),
       url('/fonts/IntegralCF-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Integral-CF';
  src: url('/fonts/IntegralCF-Bold.woff2') format('woff2'),
       url('/fonts/IntegralCF-Bold.woff') format('woff'),
       url('/fonts/IntegralCF-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: integral-extra;
  src: url('/fonts/integralcf-heavy.otf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: satoshi;
  src: url("/fonts/Satoshi-Black") format("woff");
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    ),
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
